.navbar { background-color: #484848; }
.navbar .navbar-nav .nav-link { color: #fff; }
.navbar .navbar-nav .nav-link:hover { color: #fbc531; }
.navbar .navbar-nav .active > .nav-link { color: #fbc531; }

*{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.label{
  color: #00B4CC;
}
.login{

  position: relative;
  margin-top: 10%;
  margin-left: 40%;
}
.password{
  width: 20%;
}
.nickname{
  width: 20%;
}
#clubs {
    position: relative;
    align-content: center;
    left:25%;
    width: 50%;
  }

  #announcements {
    position: relative;
    align-content: center;
    left:25%;
    width: 50%;
  }


  .searchclubs {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTermclubs {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTermclubs:focus{
    color: #00B4CC;
  }
  
  .searchButtonclubs {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrapclubs{
    width: 30%;
    position: relative;
    left: 50%;
    top:30px;
    transform: translate(-50%, -50%);
  }

footer a.text-light:hover { color: #fed136!important; text-decoration: none; }
footer .cizgi { border-right: 1px solid #535e67; }


#announcements-header{ text-align: center; font-family: sans-serif;}


@media (max-width: 992px) { footer .cizgi { border-right: none; } }