{%extends "base.html"%} {% block title %}Admin Page{% endblock %} {% block content %}
<h2>ADMIN PAGE</h2>
<h4><a href="{{url_for('add_announcement_page')}}">Add Announcement</a></h4>
<ul>

    {% set i = 0 %}
    {% for evan in evs_ans %}
    {% set i = i + 1 %}

    <h3>Announcement {{i}} </h3>

    <li>{{evan[0]}}</li>
    <li>{{evan[1]}}</li>
    <li>{{evan[2]}}</li>
    <li>{{evan[3]}}</li>
    <li>{{evan[4]}}</li>

    {% endfor %}

</ul>


<ul>

    {% set i = 0 %}
    {% for evan in evs_ans %}
    {% set i = i + 1 %}

    <h3>Event {{i}} </h3>
    <li>{{evan[5]}}</li>
    <li>{{evan[6]}}</li>
    <li>{{evan[7]}}</li>
    <li>{{evan[8]}}</li>
    <li>{{evan[9]}}</li>
    <li>{{evan[10]}}</li>

    {% endfor %}

</ul>



{% endblock %}