<!-- create a fake join button and user_count -->
{%extends "base.html"%}
{% block title %}
announcement add
{% endblock %}

{% block content %}
<h1>Leave a comment about the event!</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.header.label }}<br>
        {{ form.header(cols=50, rows=4) }}
        {% for error in form.header.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(cols=50, rows=4) }}
        {% for error in form.content.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image.label }}<br>
        {{ form.image(cols=50, rows=4) }}
        {% for error in form.image.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{%endblock%}