{% extends "base.html" %}
{% block title %} Announcement {% endblock %}
{% block content %}

<table class="table">
    <tr style="left: 40%; position: relative;">
        <td><img src='{{announcement[4]}}' height="350" width="350"></td>
    </tr>


    <tr>
        <th>Announced By:</th>
        <td><a href="{{url_for('club_page',club_id=announcement[1])}}">{{club_name}}</a></td>
    </tr>
    <tr>
        <th>Header:</th>
        <td>{{announcement[2]}}</td>
    </tr>
    <tr>
        <th>Content:</th>
        <td>{{announcement[3]}}</td>
    </tr>
</table>
{% endblock %}