<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <head>
        {% if title %}
        <title>{{ title }} - Clubee</title>
        {% else %}
        <title>Clubee</title>
        {% endif %}
    </head>
    <!--bulma kullanıcaksan bootstrap i sil-->

    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--kendi css lerin buraya gelsin-->
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <header>
        <!--- Navbar --->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand text-white" href="{{ url_for('home_page') }}"><i
                        class="fa fa-graduation-cap fa-lg mr-2"></i>Clubee</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                    aria-controls="nvbCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nvbCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item pl-1">
                            <a class="nav-link" href="{{ url_for('home_page') }}"><i
                                    class="fa fa-home fa-fw mr-1"></i>Home</a>
                        </li>
                        <li class="nav-item pl-1">
                            <a class="nav-link" href="{{ url_for('clubs_page') }}"><i
                                    class="fa fa-th-list fa-fw mr-1"></i>Clubs</a>
                        </li>
                        <li class="nav-item pl-1">
                            <a class="nav-link" href="{{ url_for('anns_page') }}"><i
                                    class="fa fa-info-circle fa-fw mr-1"></i>Announcements</a>
                        </li>
                        <li class="nav-item pl-1">
                            <a class="nav-link" href="#"><i class="fa fa-phone fa-fw fa-rotate-180 mr-1"></i>Contact</a>
                        </li>
                        <li class="nav-item pl-1">
                            <a class="nav-link" href="#"><i class="fa fa-user-plus fa-fw mr-1"></i>Register</a>
                        </li>
                        <li class="nav-item pl-1">
                            <a class="nav-link" href="{{ url_for('login') }}"><i
                                    class="fa fa-sign-in fa-fw mr-1"></i>Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--# Navbar #-->







    </header>

    <h1>Welcome to Clubee</h1>
    {%block content%} {%endblock%}


    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}




    <!--bootstrap js and jquery links-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>