<!-- create a fake join button and user_count -->
{%extends "base.html"%}
{% block title %}

{% if club[1] %}
{{club[1]}}

{% endif %}

{% endblock %}

{% block content %}
<h2 class="title">{{club[1]}}</h2>

<table class="table">
    <tr>
        <th>Image:</th>
        <td style="float: left;"><img src='{{club[8]}}' height="200" width="400"></td>
    </tr>

    <tr>
        <th>Description:</th>
        <td>{{ club[2] }}</td>
    </tr>
    <tr>
        <th>History:</th>
        <td>{{club[3]}}</td>
    </tr>
    <tr>
        <th>Vision:</th>
        <td>{{club[6]}}</td>
    </tr>
    <tr>
        <th>Mission:</th>
        <td>{{club[5]}}</td>
    </tr>


    <tr>
        <th>Number of students joined:</th>
        <td>{{club[4]}}</td>
    </tr>

    <tr>
        {% if current_user.is_authenticated%}
        <th>Click the button to join the club</th>


        {% if current_user.id == member[0] %}

        <td>
            <form action="{{url_for('leave_club', club_id = club[0])}}" method="post">
                <label for="leave"></label>
                <input type="submit" name="leave" value="Leave"></input>
            </form>
        </td>
        {% elif not current_user.id == member[0] %}
        <td>
            <form action="{{url_for('join_club', club_id = club[0])}}" method="post">
                <label for="join"></label>
                <input type="submit" name="join" value="Join"></input>
            </form>
        </td>
        {% endif %}
        {% endif %}
    </tr>
    <hr>

</table>


{% if announcements %}
<h3 style="padding-left: 5rem; color: coral;">Announcements</h3>
<div style="padding: 5rem; float:left; width: 45%; position: relative;">
    <div style="left: 20%;">
        <table>

            {% for ann in announcements %}
            <tr>
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{ann[2]}}</div>
                    <div class="card-body">
                        <h5 class="card-title">Info card title</h5>
                        <a href="{{url_for('announcement_page',ann_id = ann[0],club_id=ann[1])}}"><img src='{{ann[4]}}'
                                height="150" width="250"></a>
                    </div>
                </div>
            </tr>
            {% endfor %}


        </table>
    </div>
</div>
{% endif %}
{% if events %}
{% if current_user.is_authenticated%}
{% if current_user.id == member[0] %}

<h3 style="padding-left: 60rem; bottom: 40px; color: coral; position: relative;">Evenets</h3>
<div style="padding: 2rem; float:right; width: 45%; position: relative;">
    <div style="left: 20%;">
        <table>
            {% for event in events %}
            <tr>
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{event[2]}}</div>
                    <div class="card-body">
                        <h5 class="card-title">Info card title</h5>
                        <a href="{{url_for('event_page',event_id = event[0],club_id=event[1])}}"><img src='{{event[5]}}'
                                height="150" width="250"></a>
                    </div>
                </div>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}
{% endif %}
{% endif %}


{%endblock%}