<!-- create a fake join button and user_count -->
{%extends "base.html"%}
{% block title %}

{% if club.name %}
club.name

{% endif %}

{% endblock %}

{% block content %}
<h2 class="title">{{club.name}}</h2>

<table class="table">
    <tr>
        <th>Image:</th>
        <td><img src='{{club[7]}}' height="200" width="200"></td>
    </tr>
    <tr>
        <th>Name:</th>
        <td>{{ club[1] }}</td>
    </tr>

    <tr>
        <th>Description:</th>
        <td>{{ club[2] }}</td>
    </tr>
    <tr>
        <th>History:</th>
        <td>{{club[3]}}</td>
    </tr>
    <tr>
        <th>Vision:</th>
        <td>{{club[6]}}</td>
    </tr>
    <tr>
        <th>Mission:</th>
        <td>{{club[5]}}</td>
    </tr>
    {% if announcements %}
    <tr>
        <th>announcements</th>
        {% for ann in announcements %}
        <td><a href="{{url_for('announcement_page',ann_id = ann[0],club_id=ann[1])}}">go to announcement</a></td>
        <td>{{ann[0]}}</td>
        <td>{{ann[1]}}</td>
        <td>{{ann[2]}}</td>
        <td>{{ann[3]}}</td>
        <td><img src='{{ann[4]}}' height="100" width="100"></td>
        {% endfor %}
    </tr>
    {% endif %}
    {% if current_user.is_authenticated%}
    {% if current_user.id == member[0] %}
    {% if events %}
    <tr>
        <th>events</th>
        {% for event in events %}
        <td><a href="{{url_for('event_page',event_id = event[0],club_id=event[1])}}">go to event</a></td>
        <td>{{event[0]}}</td>
        <td>{{event[1]}}</td>
        <td>{{event[2]}}</td>
        <td>{{event[3]}}</td>
        {% endfor %}
    </tr>
    {% endif %}
    {% endif %}
    {% endif %}
    <!--
    <tr>
        <th>Announcements:</th>
        {%for ann in club.announcements%}
        <td>{{ann}}</td>
        {%endfor%}
    </tr>
    
    <tr>
        <th>Events:</th>
        {%for event in club.events%}
        <td>{{event}}</td>
        {%endfor%}
    </tr>
    -->
    <tr>
        <th>Number of students joined:</th>
        <td>{{club[4]}}</td>
    </tr>

    <tr>
        <th>Click the button to join the club</th>

        {% if current_user.is_authenticated%}
        {% if current_user.id == member[0] %}

        <td>
            <form action="{{url_for('leave_club', club_id = club[0])}}" method="post">
                <label for="leave">Leave</label>
                <input type="submit" name="leave">Leave</input>
            </form>
        </td>
        {% elif not current_user.id == member[0] %}
        <td>
            <form action="{{url_for('join_club', club_id = club[0])}}" method="post">
                <label for="join">Join</label>
                <input type="submit" name="join">Join</input>
            </form>
        </td>
        {% endif %}
        {% endif %}
    </tr>


</table>
{%endblock%}