<!-- create a fake join button and user_count -->
{%extends "base.html"%}
{% block title %}

{% if club.name %}
club.name

{% endif %}

{% endblock %}

{% block content %}
<h2 class="title">{{club.name}}</h2>

<table class="table">
    <tr>
        <th>Image:</th>
        <td><img src='{{club[7]}}' height="200" width="200"></td>
    </tr>
    <tr>
        <th>Name:</th>
        <td>{{ club[1] }}</td>
    </tr>

    <tr>
        <th>Description:</th>
        <td>{{ club[2] }}</td>
    </tr>
    <tr>
        <th>History:</th>
        <td>{{club[3]}}</td>
    </tr>
    <tr>
        <th>Vision:</th>
        <td>{{club[6]}}</td>
    </tr>
    <tr>
        <th>Mission:</th>
        <td>{{club[5]}}</td>
    </tr>
    <!--
    <tr>
        <th>Announcements:</th>
        {%for ann in club.announcements%}
        <td>{{ann}}</td>
        {%endfor%}
    </tr>
    
    <tr>
        <th>Events:</th>
        {%for event in club.events%}
        <td>{{event}}</td>
        {%endfor%}
    </tr>
    -->
    <tr>
        <th>Number of students joined:</th>
        <td>{{club[4]}}</td>
    </tr>

    <tr>
        <th>Click the button to join the club</th>

        <td>

            <form action="{{url_for('join_club', club_id = club[0])}}" method="post">
                <input type="submit" name="Join">Join</input>
            </form>
        </td>
    </tr>


</table>
{%endblock%}