{%extends "base.html"%} {% block title %}Clubs{% endblock %} {% block content %}
<h1 style="text-align: center; font-family: sans-serif; color: cadetblue; padding: bottom 100px; ;">The Joyful
    Clubs of ITU</h1>





<div class="wrapclubs">
    <div class="searchclubs">
        <input type="text" class="searchTermclubs" placeholder="Which club are you looking for?" onkeyup="myFunction()"
            title="Type in a club name" id="myInput">
        <button type="submit" class="searchButtonclubs" disabled="true">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>



<div id="clubs">
    <table id="myTable">
        <tr class="header">
            <th style="width:100%;"></th>
        </tr>

        {% for area,club in zip(areas,clubs) %}
        <tr>
            <td>
                <br>
                <div class="card mb-3" style="width: 100%;">
                    <a href="{{ url_for('club_page', club_id=club[0]) }}"> <img src='{{club[8]}}' class="card-img-top"
                            alt="club image" width="250" height="250"></a>
                    <div class="card-body">

                        <h5 class="card-title club-card" id="club-name">{{club[1]}}</h5>
                        <h6 class="areas">{{area}} </h6>

                        <p class="card-text">{{club[5]}}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </td>
        </tr>

        {% endfor %}
    </table>

</div>


<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        var txtVal = "";
        var areas = "";
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        var h5 = document.querySelectorAll(".club-card");
        var h6 = document.querySelectorAll(".areas");
        console.log(h5);
        console.log(h6);
        console.log(tr);
        for (var i = 0; i < h5.length; i++) {
            //td = tr[i].getElementsByTagName("td")
            txtVal = h5[i].innerHTML;
            areas = h6[i].innerHTML;
            if ((txtVal.toUpperCase().indexOf(filter) > -1) || (areas.toUpperCase().indexOf(filter) > -1)) {
                tr[i + 1].style.display = "";
            } else {
                tr[i + 1].style.display = "none";
            }

        }

    }
</script>


{% endblock %}
{% block script %}

{% endblock %}