{%extends "base.html"%} {% block title %}Clubs{% endblock %} {% block content %}
<ul>
    <h1>clubs</h1>
    {% for club_key, club in clubs %}

    <li> <a href="{{ url_for('club_page', club_key=club_key) }}">this is {{club.name}}</a> <br>
        <p>what we do is {{club.description}}</p>
        <p>what we do is {{club.history}}</p>
        <p>what we do is {{club.vision}}</p>
        <p>what we do is {{club.mission}}</p>
        <p>what we do is {{club.announcements}}</p>
        <p>what we do is {{club.events}}</p>
        <p>what we do is {{club.image_url}}</p>
        <p>what we do is {{club.student_count}}</p>
        {% endfor %}
    </li>
</ul>
{% endblock %}