<!-- create a fake join button and user_count -->
{% extends "base.html" %}
{% block title %}

event

{% endblock %}

{% block content %}

<style>
    tr {
        border: solid 1px;
    }

    th {
        width: 30%;
    }

    td {
        background-color: rosybrown;
        border: solid 1px;
    }
</style>
<table class="table">
    <tr>
        <th colspan="2" style="margin-left: 100px; height: 300px;">
            <div style="margin:0 auto; width:20%; "><img src='{{event[5]}}' height="300" width="400"></div>
        </th>

    </tr>
    <tr>
        <th>What?</th>
        <td>{{ event[2] }}</td>
    </tr>

    <tr>
        <th>What is it about?</th>
        <td>{{ event[3] }}</td>
    </tr>
    <tr>
        <th>When?</th>
        <td>{{ event[4]}}</td>
    </tr>

</table>

<h1>Leave a comment about the event!</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.content.label }}<br>
        {{ form.content(cols=50, rows=4) }}
        {% for error in form.content.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% if comments %}
<form action="" method="post" novalidate>
    <table>

        {% for comment in comments %}
        {% if current_user.id == comment[2] %}

        <label class="checkbox">
            <input type="checkbox" name="comment_name" value="{{comment[0]}}" />
        </label>

        <form action="" method="post" novalidate>
            <!--eğer kullanıcının kendi yorumuysa silebilecek-->
            <p>You can delete or update your comments</p>
            <ul>
                <p><b>Author: </b>{{comment[5]}} {{comment[6]}}</p>
                <div id="comment"
                    style="border: cadetblue; border-radius: 5%; border-style:solid; border-color: lightblue; width: 20%; height:100px; overflow: auto;">
                    <p name="change">{{comment[3]}} </p>
                    <input type="text" name="update" placeholder="Update your comment" style="width: fit-content;">
                    <input type="hidden" name="commentup" value="{{comment[0]}}">
                </div>
                <div>
                    <button type="submit" name="update" class="btn btn-danger" value="Update">Update<form action=""
                            method="POST">
                        </form></button>

                </div>
            </ul>
        </form>
        {% else %}
        <ul>
            <p><b>Author: </b>{{comment[5]}} {{comment[6]}}</p>
            <div id="comment"
                style="border: cadetblue; border-radius: 5%; border-style:solid; border-color: lightblue; width: 20%; height:100px; overflow: auto;">
                <p>{{comment[3]}} </p>
            </div>

        </ul>

        {% endif %}
        {% endfor %}

    </table>

    <div>
        <input type="submit" name="delete" class="btn btn-danger" value="Delete">
    </div>

</form>

{% else %}
<p>No Comments Made</p>
{% endif %}
{% endblock %}