<!-- create a fake join button and user_count -->
{%extends "base.html"%}
{% block title %}

event

{% endblock %}

{% block content %}


<table class="table">
    <tr>
        <th>Image:</th>
        <td><img src='{{event[5]}}' height="200" width="200"></td>
    </tr>
    <tr>
        <th>id:</th>
        <td>{{ event[0] }}</td>
    </tr>

    <tr>
        <th>Description:</th>
        <td>{{ event[1] }}</td>
    </tr>
    <tr>
        <th>History:</th>
        <td>{{ event[2]}}</td>
    </tr>
    <tr>
        <th>Vision:</th>
        <td>{{ event[3]}}</td>
    </tr>

</table>

<h1>Leave a comment about the event!</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.content.label }}<br>
        {{ form.content(cols=50, rows=4) }}
        {% for error in form.content.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% if comments %}
<form action="" method="post" novalidate>
    <table>
        {% for comment in comments %}
        {% if current_user.id == comment[2] %}
        <label class="checkbox">
            <input type="checkbox" name="comment_name" value="{{comment[0]}}" />
        </label>
        <!--eğer kullanıcının kendi yorumuysa silebilecek-->
        <p>yorumu silebilrsin</p>
        {% endif %}
        <ul>
            <p>{{comment[5]}} {{comment[6]}}</p>
            <div id="comment"
                style="border: cadetblue; border-radius: 5%; border-style:solid; border-color: lightblue; width: 20%; height:100px; overflow: auto;">
                <p>{{comment[3]}} </p>
            </div>

        </ul>


        {% endfor %}
    </table>
    <div>
        <input type="submit" name="delete" class="btn btn-danger" value="Delete">
    </div>

</form>

{% else %}
<p>No Comments Made</p>
{% endif %}
{%endblock%}