{%extends "base.html"%}

{% block title %}Home page{% endblock %}

{% block content %}


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"
    style="width: 70%; margin-top: 0.5%; margin-left: 15%;">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="https://www.w3schools.com/" target="_blank"><img src="../static/images/itu_acm.png"
                    class="d-block w-100" alt="..." height="400" width="200"></a>
            <div class="carousel-caption d-none d-md-block">
                <h5>ITU ACM</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../static/images/itu_acm.png" class="d-block w-100" alt="..." height="400" width="200">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../static/images/itu_acm.png" class="d-block w-100" alt="..." height="400" width="200">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
<div class="announcements-index"></div>
<br>
{% if announcements %}
<hr>

<h2 id="announcements-header" style="text-align: center; font-family: sans-serif;"> Latetst Announcements</h2>
</div>




<div class="row row-cols-1 row-cols-md-3 g-4" style="width: 70%; margin-top: 0.5%; margin-left: 15%;">
    {% for ann in announcements %}
    <div class="col">
        <div class="card h-100">
            {% if ann[4] %}
            <a href="{{url_for('announcement_page',club_id=ann[1],ann_id=ann[0])}}"> <img src='{{ann[4]}}'
                    class="card-img-top" alt="announcement image" height="200" width="100"></a>
            {% else %}
            <a href="{{url_for('announcement_page',club_id=ann[1],ann_id=ann[0])}}"> <img
                    src="https://via.placeholder.com/150C/O%20https://placeholder.com/" class="card-img-top"
                    alt="announcement image" height="200" width="100"></a>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ann[2]}}</h5>
                <p class="card-text">Click the image to learn more!</p>
            </div>
        </div>
    </div>

    {% endfor %}
    <br>
    <br>

    {% endif %}
    <hr>
    <!--
<table>
    <td>
        <div class="card" style="width: 50%;">
            <img src="../static/images/itu_ieee.png" class="card-img-top" alt="..." height="100" width="100">
            <div class="card-body">
                <h5 class="card-title">Announcement Header</h5>
                <p class="card-text">Announcement content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Announcement Club</li>
                <li class="list-group-item">Announcement Club</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Go to announcement</a>
                <a href="#" class="card-link">Go to club</a>
            </div>
        </div>
    </td>
</table>
-->

    {%endblock%}