{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="login">
    <h1 style="padding-bottom: 2rem; padding-right: 2rem; color: olivedrab; width: 20%;">Sign In To Clubee</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label(class_="label") }}<br>
            {{ form.username(class_="nickname") }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label(class_="label") }}<br>
            {{ form.password(size=64,class_="password") }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}