{%extends "base.html"%} {% block title %}Clubs{% endblock %} {% block content %}
{% if clubs %}
<ul style="list-style: none;">
    <h1>My Clubs</h1>

    <li>
        {% for club in clubs %}


        <ul style="list-style: none;">
            <div class="card mb-3" style="width: 50%;">
                <a href="{{ url_for('club_page', club_id=club[0]) }}"><img src="../static/images/itu_acm.png"
                        class="card-img-top" alt="..." width="300" height="200"></a>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </ul>
        {% endfor %}
    </li>
</ul>
{% else %}
<h1 style="text-decoration: solid;">You haven't joined any clubs yet? Go check'em out <a style="text-decoration: none;"
        href="{{url_for('clubs_page')}}">here</a> </h1>
{% endif %}
{% endblock %}