{% extends "base.html" %}
{% block title %} Profile {% endblock %}
{% block content %}


<!-- user info update-->
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(cols=50, rows=4) }}
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.surname.label }}<br>
        {{ form.surname(cols=50, rows=4) }}
        {% for error in form.surname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.student_id.label }}<br>
        {{ form.student_id}}
        {% for error in form.student_id.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=50) }}
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.gender.label }}<br>
        {{ form.gender }}
        {% for error in form.gender.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>


    <p>{{ form.submit() }}</p>
</form>



<form method="POST" name="delete_acc" id="delete_acc">
    <div>
        <input type="submit" name="delete" class="btn btn-danger" value="Delete User"
            onclick="return confirm('Are you sure you want to delete your account? There is no coming back from this.');">
    </div>

</form>
{% endblock %}