<!doctype html>
<html>

<head>
    <title>Upload new File</title>
</head>

<body>


    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>

    <div id='asd'></div>

    {% if img %}

    <script>

        console.log("asd1")

        // var bytes = new Uint8Array(data.length / 2);

        // for (var i = 0; i < data.length; i += 2) {
        //     bytes[i / 2] = parseInt(data.substring(i, i + 2), 16);
        // }

        // // Make a Blob from the bytes
        // var blob = new Blob([bytes], { type: 'image/bmp' });

        // Use createObjectURL to make a URL for the blob

        var img = document.createElement('img');
        console.log("asd2")
        img.src = `{{img}}`
        console.log("asd3")
        var div_ = document.getElementById('asd');
        console.log("asd4")
        div_.appendChild(img)
        console.log("asd5")
        //     image.src = URL.createObjectURL(blob);
        // document.body.appendChild(image);
    </script>

    {% endif %}
</body>

</html>